<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title><%= title %> | AnonTales</title>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <div class="container">
      <% if (!locals.currentUser) { %>
        <%- include('../partials/noAccess') %>
      <% } else { %>
        <div class="delete-account-div">
          <h1><%= title %> 🚫</h1>
          <form class="delete-account-form" action="/my-account/delete-account" method="POST">
            <p>❗ Are you sure you want to delete your account?</p>
            <p>All stories you have created will also be deleted.</p>
            <button>Delete my account</button>
          </form>
          <a href="/my-account/edit">&lt;&lt; Cancel</a>
        </div>
      <% } %>
    </div>
    <%- include('../partials/footer') %>
  </body>
</html>
