<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title><%= title %> | AnonTales</title>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <div class="container">
      <% if (!locals.currentUser) { %>
        <%- include('../partials/noAccess') %>
      <% } else { %>
        <div class="edit-account-div">
          <h1><%= title %> 🔒</h1>
          <% if (locals.errors) { %>
            <%- include('../partials/errors') %>
          <% } %>
          <% if (confirmationScreen) { %>
            <p>✅ Success! Account password updated.</p>
            <a href="/my-account">&lt;&lt; Back to account details</a>
          <% } else { %>
            <form class="edit-account-form password-form" action="/my-account/edit/password" method="POST">
              <div class="password-div">
                <p>Password must meet the following requirements:</p>
                <ul>
                  <li>At least 8 characters</li>
                  <li>Contain at least 1 lowercase letter</li>
                  <li>Contain at least 1 uppercase letter</li>
                  <li>Contain at least 1 number</li>
                </ul>
              </div>
              <p>
                <label for="password">New password:</label>
                <input
                  type="password"
                  name="password"
                  id="password"
                  value="<%= (locals.passwordValue) ? passwordValue : '' %>"
                  autofocus
                  required
                />
              </p>
              <p>
                <label for="confirmPassword">Confirm password:</label>
                <input
                  type="password"
                  name="confirmPassword"
                  id="confirmPassword"
                  value="<%= (locals.confirmPasswordValue) ? confirmPasswordValue : '' %>"
                  required
                />
              </p>
              <button>Submit</button>
            </form>
            <a href="/my-account/edit">&lt;&lt; Cancel</a>  
          <% } %>
        </div>
      <% } %>
    </div>
    <%- include('../partials/footer') %>
  </body>
</html>
