<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('partials/nav') %>
    <div class="login-container">
      <div class="login-div">
        <h1><%= title %></h1>
        <form class="login-form" action="/log-in" method="POST">
          <p>
            <label for="username">Username:</label>
            <input
              id="username"
              name="username"
              type="text"
              value="<%= usernameValue %>"
              required
            />
          </p>
          <p>
            <label for="password">Password:</label>
            <input
              id="password"
              name="password"
              type="password"
              value="<%= passwordValue %>"
              required
            />
          </p>
          <% if (errorMessage) { %>
            <div class="login-error-div">
              <p class="login-error"><%= errorMessage %></p>
              <% if (errorMessage.startsWith("Username")) { %>
                <p><a href="/sign-up">Sign up</a> for an account.</p>
              <% } %>
            </div>
          <% } %>
          <div class="buttons-div">
            <button type="submit">Log In</button>
            <a href="/">&lt;&lt; Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
