<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="data:," />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('partials/nav') %>
    <h1><%= title %></h1>
    <p>
      Create your account by entering the information below. All fields are
      required.
    </p>
    <form action="/sign-up" method="POST">
      <p>
        <label for="firstName">First name:</label>
        <input
          type="text"
          name="firstName"
          id="firstName"
          maxlength="255"
          value="<%= firstNameValue %>"
          required
        />
      </p>
      <p>
        <label for="lastName">Last name:</label>
        <input
          type="text"
          name="lastName"
          id="lastName"
          maxlength="255"
          value="<%= lastNameValue %>"
          required
        />
      </p>
      <p>
        <label for="username">Username:</label>
        <input
          type="text"
          name="username"
          id="username"
          maxlength="255"
          value="<%= usernameValue %>"
          required
        />
      </p>
      <div class="password-div">
        <p>Note: password must meet the following requirements:</p>
        <ul>
          <li>At least 8 characters</li>
          <li>Contain at least 1 lowercase letter</li>
          <li>Contain at least 1 uppercase letter</li>
          <li>Contain at least 1 number</li>
        </ul>
        <p>
          <label for="password">Password:</label>
          <input
            type="password"
            name="password"
            id="password"
            pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,255}"
            value="<%= passwordValue %>"
            required
          />
        </p>
      </div>
      <p>
        <label for="confirmPassword">Confirm password:</label>
        <input
          type="password"
          name="confirmPassword"
          id="confirmPassword"
          pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,255}"
          value="<%= confirmPasswordValue %>"
          required
        />
      </p>
      <button>Sign Up</button>
    </form>
  </body>
</html>
