<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title><%= story.title %> | AnonTales</title>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <div class="container">
      <div class="view-story-div">
        <a href="/stories">&lt;&lt; Story depository</a>
        <h1><%= story.title %></h1>
        <% if (locals.currentUser) { %>
          <% if (story.username === currentUser.username) { %>
            <div class="view-story-buttons-div">
              <a href="/stories/view-story/<%= story.story_id %>/edit"><button>Edit story</button></a>
              <% if (story.username === currentUser.username || currentUser.admin) { %>
                <a href="/stories/view-story/<%= story.story_id %>/delete"><button>Delete story</button></a>
              <% } %>
            </div>
          <% } %>
          <% if (currentUser.member) { %>
            <div class="author-info">
              <p>Author: <%= story.username %></p>
              <p>Submitted on: <%= story.formattedTimestamp %></p>
            </div>
          <% } %>
        <% } %>
        <pre><%= story.story %></pre>
        <a class="border-credit" href="https://www.freepik.com/free-vector/golden-ornament-border-design-with-vintage-antique-look_425697877.htm#fromView=search&page=1&position=2&uuid=d7fc7824-5065-4e1f-b6c4-33ebabd7f9e9&query=Border">border by starline on Freepik</a>
      </div>
    </div>
    <%- include('../partials/footer') %>
  </body>
</html>
